{% extends 'capatel/base/base.html' %}
{% load static tentron_tag %}
{% block content %}


            <!-- Project Detail -->
    <section class="project-detail">
        <div class="container">


            <!-- Lower Content -->
            <div class="lower-content">
                <div class="row">
                    <div class="text-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Upper Box -->
                            <div class="upper-box">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <figure class="image"><img src="/static/templates/capatel/img/gallery/protfolio-dt-img.png" alt=""></figure>
                                </div>
                            </div>
                            <h2>Project Description</h2>
                            <p>Pleasure and praising pain was born and I will give you a complete account of the systems, and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself pursues or desires to obtain pain of itself.</p>
                            <h3>What We Did</h3>
                            <p>Complete account of the systems and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are painful anyone who loves or pursues nyone who loves or pursues.</p>
                            <!-- Two Column -->
                            <div class="two-column">
                                <div class="row">
                                    <div class="image-column col-xl-6 col-lg-12 col-md-12">
                                        <figure class="image"><a href="/static/templates/capatel/img/resource/post-img-1.jpg" class="lightbox-image"><img src="/static/templates/capatel/img/resource/post-img-1.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="text-column col-xl-6 col-lg-12 col-md-12">
                                        <ul class="list-style-one">
                                            <li>Engine oil level should be regularly checked Tyres have a minimum of 1.6mm of tread.</li>
                                            <li>Ensure that the electrolyte level is correct Never remove the radiator when the engine.</li>
                                            <li>Ensure that your vehicle's brake fluid is full Engine oil level should be regularly checked.</li>
                                            <li>Sngine oil level should be regularly checked Tyres have a minimum of 1.6mm of tread. E lectrolyte level is correct Never remove.</li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-column col-lg-4 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3>Project info</h3>
                            <p>Pleasure and praising pain was born and I will give you a complete account of the systems and the actually teachings of the great explorer .</p>
                            <ul class="project-info clearfix">
                                <li>
                                    <span class="icon fa fa-user"></span>
                                    <strong>Client</strong>
                                    <p>Indu Designers</p>
                                </li>

                                <li>
                                    <span class="icon fa fa-folder"></span>
                                    <strong>Category</strong>
                                    <p>Industrial</p>
                                </li>

                                <li>
                                    <span class="icon fa fa-calendar-alt"></span>
                                    <strong>Start Date</strong>
                                    <p>28th Dec 2019</p>
                                </li>

                                <li>
                                    <span class="icon far fa-calendar-alt"></span>
                                    <strong>End Date</strong>
                                    <p>28st Feb 2020</p>
                                </li>

                                <li>
                                    <span class="icon fa fa-dollar-sign"></span>
                                    <strong>Project Value</strong>
                                    <p>$1250.00</p>
                                </li>

                                <li>
                                    <span class="icon fa fa-paper-plane"></span>
                                    <strong>Location</strong>
                                    <p>Newyork City, USA</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--End Project Detail -->



{% endblock %}
