{% extends 'capatel/base/base.html' %}
{% load static tentron_tag wagtailcore_tags %}
{% block content %}


			<!-- service-details-area -->
    <div class="about-area5 about-p pt-120 pb-90 p-relative">
        <div class="container">
            <div class="row">
                         <!-- #right side -->
                <div class="col-sm-12 col-md-12 col-lg-4 order-2">
                    <aside class="sidebar services-sidebar">

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="widget-content">
                                <!-- Services Category -->
                                <ul class="services-categories">
                                    <li><a href="{% slugurl "services" %}">All Services</a></li>

                                    {% for service in service_detail_pages %}
                                        <li class="{% if request.build_absolute_uri == service.url %}active{% endif %}"><a href="{{ service.url }}">{{ service.beautify_title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% comment %} <!--Brochures Box-->
                        <div class="brochures-box">
                            <div class="inner">
                                <h4>Download Brochures</h4>
                                <div class="text">Pleasure and praising pain was born and I will give you a complete account.</div>
                                <a class="theme-btn btn-style-one" href="#"><span class="btn-title"><i class="fa fa-file-pdf"></i> Info Company</span></a>
                                <a class="theme-btn btn-style-one" href="#"><span class="btn-title"><i class="fa fa-file-pdf"></i> Brochure Newest</span></a>
                            </div>
                        </div> {% endcomment %}
                    </aside>
                </div>
                        <!-- #right side end -->


                <div class="col-lg-8 col-md-12 col-sm-12 order-1">
                    <div class="service-detail">


                        <div class="content-box details__content">
                            {% for block in page.content %}
                                {% include_block block %}
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
            <!-- service-details-area-end -->


{% endblock %}
