{% extends 'capatel/base/base.html' %}
{% load static tentron_tag %}

{% block extra_meta %}
    <meta name="robots" content="noindex">
{% endblock extra_meta %}
{% block content %}



          <!-- contact-area -->
    <section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative fix" rel="nofollow">
        <div class="container">

            <div class="row">

                <div class="col-lg-12 text-center">
                    <p><img src="/static/templates/capatel/img/bg/contact-img2.png" alt="map"></p>
                    <div class="slider-btn">
                        <a href="contact.html" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Contact Us</a>
                    </div>
                </div>

            </div>

        </div>

    </section>
            <!-- contact-area-end -->



{% endblock %}
