*.pyc
.DS_Store
*.swp
/venv/
/.venv/
# .env
.python-version
/static/
static_compiled/
/media/
/media.old/
/tmp/
/docs/_build/
.idea/
node_modules*
/None
*.log
/.vscode/*
!/.vscode/launch.json
/database_dumps/
/nginx/certbot/
DBbackup/*
/certbot/conf/*
/certbot/www/*
/logs/cron_job/*
/logs/nginx/*
/logs/gunicorn/*
/logs/certbot/*
/media/*
/static/*
/nginx/sites-available/* 
/nginx/sites-enabled/*
!/nginx/sites-available/tentron.conf
!/nginx/sites-available/tentron.dev.conf

!certbot/conf/options-ssl-nginx.conf
!certbot/conf/ssl-dhparams.pem
